.main-nav {
  display: flex;
  justify-content: horizontal;
  padding: 20px 0 20px 0;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: horizontal;
}

.left-nav {

  > ul {
    > li {

    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
